pytorch-lightning==1.5.0
biopython
certifi
einops
h5py
logomaker
matplotlib
numpy
pandas
pytorch-ranger==0.1.1
rotary-embedding-torch
scanpy
scikit-learn
scipy
seaborn
torch-optimizer
tqdm
typing-extensions
umap-learn
requests
