biopython==1.79
certifi==2021.5.30
einops==0.3.2
gitdb==4.0.7
GitPython==3.1.18
h5py==3.4.0
logomaker==0.8
matplotlib==3.4.3
numpy==1.20.3
pandas==1.3.2
pytorch-lightning==1.5.0
pytorch-ranger==0.1.1
requests==2.26.0
requests-oauthlib==1.3.0
rotary-embedding-torch==0.1.2
scanpy==1.9.1
scikit-learn==1.1.2
scipy==1.7.1
seaborn==0.11.2
subprocess32==3.5.4
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-optimizer==0.3.0
torch-scatter==2.0.8
torch-sparse==0.6.11
torch-spline-conv==1.2.1
tqdm==4.62.2
typing-extensions==3.10.0.2
umap-learn==0.5.3
urllib3==1.26.6
wandb==0.12.0
yapf==0.31.0
