pytorch-lightning==1.5.0
biopython<=1.79
torchmetrics==0.9.3
rotary-embedding-torch==0.1.2
certifi
einops
h5py
logomaker
matplotlib
numpy<1.24
pandas
pytorch-ranger
scanpy
scikit-learn
scipy
seaborn
torch-optimizer
tqdm
typing-extensions
umap-learn
requests
openMM
sidechainnet
